{% spaceless %}
    {% set pageNumber = '' %}
    <!-- for HTML5 -->
    <style type="text/css">
        #mainTable {
            border-collapse: collapse;
            width: 100%;
        }

        #mainTable th, #mainTable td {
            padding: 4px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .striped {
            padding: 4px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            background-color: rgb(249, 249, 249);
        }                

        #mainTable tfoot th, #mainTable tfoot td {
            padding: 4px;
            text-align: left;
            border-bottom: 1px solid whitesmoke;
        }        
        page { font-size: 8pt; }        

        table.page_header {width: 100%; border: none; padding: 2mm; font-size: 8pt; }
        table.page_footer {width: 100%; border: none; padding: 2mm; font-size: 8pt;}
        div.note {border: solid 1mm #DDDDDD; background-color: #EEEEEE; padding: 2mm; border-radius: 2mm; width: 100%; }
        ul.main { width: 95%; list-style-type: square; }
        ul.main li { padding-bottom: 2mm; }
        h1 { text-align: center; font-size: 12pt}
        h3 { text-align: left; font-size: 10pt}
        h4 { text-align: left; font-size: 8pt}
    </style>
    <page backtop="14mm" backbottom="14mm" backleft="10mm" backright="10mm" orientation="{{ report.orientation }}">
        <page_header>
            <table class="page_header">
                <tr>
                    <td style="width: 33%; text-align: left">
                        {{ report.headerLeft }}
                    </td>
                    <td style="width: 34%; text-align: center">
                        {{ report.headerCenter }}
                    </td>
                    <td style="width: 33%; text-align: right">
                        {{ report.headerRight }}
                    </td>
                </tr>
            </table>
        </page_header>

        <page_footer>
            <table class="page_footer">
                <tr>
                    <td style="width: 33%; text-align: left;">
                        {{ report.footerLeft }}
                    </td>
                    <td style="width: 34%; text-align: center">
                        {% if report.showPageNumber %}
                            página [[page_cu]]/[[page_nb]]
                        {% endif %}
                    </td>
                    <td style="width: 33%; text-align: right">
                        {{ "now"|date("d/m/Y H:i") }}
                    </td>
                </tr>
            </table>
        </page_footer>

        {% if report.title is defined %}
            <h1>{{ report.title | convert_encoding('UTF-8', report.charset)}}</h1>
        {% endif %}
        {% if report.subTitle is defined %}
            <h3>{{ report.subTitle | convert_encoding('UTF-8', report.charset) }}</h3>
        {% endif %}

        {% for detail in report.details %}
            {% if report.subTitle is defined %}
                <h4>{{ detail.title | convert_encoding('UTF-8', report.charset) }}</h4>
            {% endif %}
            <table id="mainTable">
                {% for key,value in detail.fields %}
                    <col style="width: {{ value.length }}; font-weight: {{ value.fontWeight }}">
                {% endfor %}
                <thead>
                    <tr>
                        {% for key,value in detail.fields %}
                            <th align="center" style="font-weight: bold;">
                                {{ value.fieldLabel | capitalize | convert_encoding('UTF-8', report.charset) }}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>    
                <tbody>
                    {% for key,value in detail.data  %}
                        {% set class = loop.index is divisible by(2) ? "striped" : "" %}
                        <tr class="{{ class }}">
                            {% for keyFieldValue,valueFieldValue in value %}
                                <td align="{{ detail.columnAlign[keyFieldValue] }}">
                                    {% if detail.columnFormat[keyFieldValue] is constant('SenaiLibrary\\ReportBundle\\Component\\Field::FormatDecimal') %}
                                        {{ valueFieldValue | number_format(valueFieldValue.decimal)  }}
                                    {% elseif detail.columnFormat[keyFieldValue] is constant('SenaiLibrary\\ReportBundle\\Component\\Field::FormatInteger') %}
                                        {{ valueFieldValue }}
                                    {% elseif detail.columnFormat[keyFieldValue] is constant('SenaiLibrary\\ReportBundle\\Component\\Field::FormatDateTime') %}
                                        {{ valueFieldValue | date("d/m/Y")}}                                        
                                    {% else %}    
                                        {% if detail.columnCapitalize[keyFieldValue]  %}                                        
                                            {{ valueFieldValue | capitalize | convert_encoding('UTF-8', report.charset) }}
                                        {% else %}    
                                            {{ valueFieldValue | convert_encoding('UTF-8', report.charset) }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        {% for key,value in detail.footer %}
                            <th align="{{ detail.columnAlign[key] }}">
                                {% if value %}
                                    {{ value.value | number_format(value.decimal) }}
                                {% endif %}
                            </th>
                        {% endfor %}
                    </tr>
                </tfoot>                
            </table>
        {% endfor %}
    </page>
{% endspaceless %}